/* stylelint-disable order/properties-alphabetical-order */

/* stylelint-disable indentation */
.form-content {
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 20px;
    background-color: white;
    left: 25%;
}

.form {
    padding: 4%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.evaluator {
    text-align: center;
}

.link {
    width: 25%;
    height: 25%;
}

img {
    width: 400px;
    height: 150px;
}
