/* stylelint-disable indentation */
.video {
    display: flex;
    justify-content: space-between;
}

.avatar {
    height: 500px;
}

.text-content-right {
    display: flex;
    flex-direction: row;
}

.text {
    display: flex;
    flex-direction: column;
}
